<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Léxico</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="title">
        <h1>Analizador Lexico-Sintactico</h1>
    </div>
    <div class="main">

        <div class="input_code">
            <form method="POST" action="/">
                <textarea name="code" id="code" rows="10" cols="50" placeholder="Escribe tu código aquí..."></textarea>
                <br>
                <button class="analizar-boton" type="submit">Analizar</button>
            </form>
        </div>

        <div class="output_code">

            
            {% if input %}    
            <textarea readonly id="txt"  class="txt" rows="11">{{ input }}</textarea>
            {% if error_sena %}
                {% for error in error_sena %}
                    <p class="asena_error"> {{ error }} </p>
                {% endfor %}
            {% else %}
                <p class="asena_success">No hay errores de sintaxis</p>
            {% endif %}
            {% endif %}
            

            <table>
                {% if tokens %}
                    <tr>
                        <th>Token</th>
                        <th>Reservada</th>
                        <th>Identificador</th>
                        <th>Tipo</th>
                        <th>Linea</th>
                    </tr>
                    {% for Token, PR, ID, type, lineno in tokens %}
                    <tr>
                        <td>{{ Token }}</td>
                        <td>{{ PR }}</td>
                        <td>{{ ID }}</td>
                        <td>{{ type }}</td>
                        <td>{{ lineno }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr><td colspan="2">No se encontraron tokens</td></tr>
                {% endif %}
            </table>
            
            {% if tkeys %}
            <p class="tokensres">palabras reservadas totales: {{ tkeys }}</p>
            {% endif %}
        </div>
    </div>
    <script src="/static/js/script.js" defer></script>
</body>
</html>